/* Layout - 24 column grid, 960px fixed width, 10px gutters
-------------------------------------------------------------- */

/* grid widths */
.grid24-1 {width: 40px;}
.grid24-2 {width: 80px;}
.grid24-3 {width: 120px;}
.grid24-4 {width: 160px;}
.grid24-5 {width: 200px;}
.grid24-6 {width: 240px;}
.grid24-7 {width: 280px;}
.grid24-8 {width: 320px;}
.grid24-9 {width: 360px;}
.grid24-10 {width: 400px;}
.grid24-11 {width: 440px;}
.grid24-12 {width: 480px;}
.grid24-13 {width: 520px;}
.grid24-14 {width: 560px;}
.grid24-15 {width: 600px;}
.grid24-16 {width: 640px;}
.grid24-17 {width: 680px;}
.grid24-18 {width: 720px;}
.grid24-19 {width: 760px;}
.grid24-20 {width: 800px;}
.grid24-21 {width: 840px;}
.grid24-22 {width: 880px;}
.grid24-23 {width: 920px;}
.grid24-24 {width: 960px;}

/* block indents */
.grid24-indent-1 {margin-left: 40px;}
.grid24-indent-2 {margin-left: 80px;}
.grid24-indent-3 {margin-left: 120px;}
.grid24-indent-4 {margin-left: 160px;}
.grid24-indent-5 {margin-left: 200px;}
.grid24-indent-6 {margin-left: 240px;}
.grid24-indent-7 {margin-left: 280px;}
.grid24-indent-8 {margin-left: 320px;}
.grid24-indent-9 {margin-left: 360px;}
.grid24-indent-10 {margin-left: 400px;}
.grid24-indent-11 {margin-left: 440px;}
.grid24-indent-12 {margin-left: 480px;}
.grid24-indent-13 {margin-left: 520px;}
.grid24-indent-14 {margin-left: 560px;}
.grid24-indent-15 {margin-left: 600px;}
.grid24-indent-16 {margin-left: 640px;}
.grid24-indent-17 {margin-left: 680px;}
.grid24-indent-18 {margin-left: 720px;}
.grid24-indent-19 {margin-left: 760px;}
.grid24-indent-20 {margin-left: 800px;}
.grid24-indent-21 {margin-left: 840px;}
.grid24-indent-22 {margin-left: 880px;}
.grid24-indent-23 {margin-left: 920px;}

/* gutters (2 x margin) */
.block .inner {
  margin-left: 5px;
  margin-right: 5px;
}

/* hack to fix node-top & node-bottom being off-grid */
#content-content .node .first .inner {
    margin-right: 10px;
}

body,
div.full-width {
  min-width: 960px;
}