.product-wrap { border:1px solid #999; padding:10px; margin:5px; float:left; }
.product-wrap:hover { background:#f6f5f3; }
.selectedrow { background:lightgreen; }

.input-wrap { padding:5px; margin:0 0 5px 0; border:1px solid #bebebe; background:#fff; }
.input-wrap input[type="text"] { border:0px; background:transparent; width:100%; }

.check-wrap { float:left; padding:5px; cursor:pointer; }
.inputs-wrap { float:right; }
.button-wrap { padding:5px; margin:5px 0 0 0; float:left; }
.image-wrap { height:150px; margin:0 0 5px 0; }
.enabled { color:#f00; }
.fivecolumn { width:50px; }

#mpe-table input[type="text"] { border:0px; background:#fff; text-align:right; }
table#mpe-table td { text-align:center; border-bottom:1px solid #ccc; }
table#mpe-table th { text-transform:capitalize; text-align:center; }
select { width:150px; }